body {
    background-image: url('/home/kali/Documents/website/chirayu-trivedi-nPJFU_zTVhA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }